<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>servlet.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateInfo</servlet-name>
        <servlet-class>servlet.UpdateInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInfo</servlet-name>
        <url-pattern>/UpdateInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitInfo</servlet-name>
        <servlet-class>servlet.SubmitInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitInfo</servlet-name>
        <url-pattern>/SubmitInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePasswd</servlet-name>
        <servlet-class>servlet.UpdatePasswd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePasswd</servlet-name>
        <url-pattern>/UpdatePasswd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateInfoCityAjax</servlet-name>
        <servlet-class>servlet.UpdateInfoCityAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInfoCityAjax</servlet-name>
        <url-pattern>/UpdateInfoCityAjax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateInfoCountyAjax</servlet-name>
        <servlet-class>servlet.UpdateInfoCountyAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInfoCountyAjax</servlet-name>
        <url-pattern>/UpdateInfoCountyAjax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginOut</servlet-name>
        <servlet-class>servlet.LoginOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOut</servlet-name>
        <url-pattern>/LoginOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>servlet.Menu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/common/Menu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FoodDetails</servlet-name>
        <servlet-class>servlet.FoodDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodDetails</servlet-name>
        <url-pattern>/user/FoodDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuyFood</servlet-name>
        <servlet-class>servlet.BuyFood</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyFood</servlet-name>
        <url-pattern>/user/BuyFood</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitOrder</servlet-name>
        <servlet-class>servlet.SubmitOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitOrder</servlet-name>
        <url-pattern>/user/SubmitOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateShopInfo</servlet-name>
        <servlet-class>servlet.UpdateShopInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateShopInfo</servlet-name>
        <url-pattern>/ShopManager/UpdateShopInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitShopInfo</servlet-name>
        <servlet-class>servlet.SubmitShopInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitShopInfo</servlet-name>
        <url-pattern>/ShopManager/SubmitShopInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFood</servlet-name>
        <servlet-class>servlet.AddFood</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFood</servlet-name>
        <url-pattern>/ShopManager/AddFood</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModifyFood</servlet-name>
        <servlet-class>servlet.ModifyFood</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyFood</servlet-name>
        <url-pattern>/ShopManager/ModifyFood</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateFood</servlet-name>
        <servlet-class>servlet.UpdateFood</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateFood</servlet-name>
        <url-pattern>/ShopManager/UpdateFood</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteFood</servlet-name>
        <servlet-class>servlet.DeleteFood</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFood</servlet-name>
        <url-pattern>/ShopManager/DeleteFood</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ensure</servlet-name>
        <servlet-class>servlet.Ensure</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ensure</servlet-name>
        <url-pattern>/ShopManager/Ensure</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddShopManager</servlet-name>
        <servlet-class>servlet.AddShopManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddShopManager</servlet-name>
        <url-pattern>/SystemManager/AddShopManager</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>servlet.UserInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/SystemManager/UserInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Classify</servlet-name>
        <servlet-class>servlet.Classify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Classify</servlet-name>
        <url-pattern>/SystemManager/Classify</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>IsLogin</filter-name>
        <filter-class>filter.IsLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IsLogin</filter-name>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/common/*</url-pattern>
        <url-pattern>/ShopManager/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>IsShopManager</filter-name>
        <filter-class>filter.IsShopManager</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IsShopManager</filter-name>
        <url-pattern>/ShopManager/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>IsSystemManager</filter-name>
        <filter-class>filter.IsSystemManager</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IsSystemManager</filter-name>
        <url-pattern>/SystemManager/*</url-pattern>
    </filter-mapping>

    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>